# base path
export PATH="/opt/homebrew/opt/ruby/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/go/bin/:/usr/local"
export REPOPATH=$HOME/repos

# Ensure my github directory exists
mkdir -p $REPOPATH/src/github.com/aarongreenlee
mkdir -p $REPOPATH/src/github.com/outcome.dev
mkdir -p $REPOPATH/bin
export PATH=$PATH:$REPOPATH/bin

# Home path bin
export PATH=$PATH:~/bin

# Brew Bin
export PATH=$PATH:/opt/homebrew/bin

# ---------------------------
# Rust
export PATH="$PATH:$HOME/.cargo/bin"

# ---------------------------
# Go
export GO111MODULE=on

# Place source code in this directory
export GOPATH=$REPOPATH
export PATH=$PATH:$GOPATH/bin

# allow installed go programs to be executed
export PATH=$PATH:$GOPATH/bin

# Add Protoc (gRPC)
export PATH="$PATH:$HOME/.local/protoc-3/bin"
# Add protoc for protobuf compilation
export PATH="$PATH:$HOME/protoc/bin"

# ----------------------------
# JS/TS

# Setup pnpm paths
export PNPM_HOME="/Users/aarongreenlee/Library/pnpm"
export PATH="$PNPM_HOME:$PATH"

# ---------------------------
# Editors/IDEs

# allow nvim execution
export PATH=$PATH:~/nvim-macos/bin

# Mono Framework
export PATH=$PATH:/Library/Frameworks/Mono.framework/Versions/Current/Commands

# Add Intellij IDEA
export PATH=$PATH:~/idea
export PATH=$PATH:"/Users/aarongreenlee/Library/Application Support/JetBrains/Toolbox/scripts"

# Add Visual Studio Code (code)
export PATH="$PATH:/Applications/Visual Studio Code.app/Contents/Resources/app/bin"

export PATH="$PATH:/Users/aarongreenlee/flutter/bin"

# ---------------------------
# GOOGLE CLOUD

# Add Google Cloud Tools
export PATH="$PATH:$HOME/google-cloud-sdk/bin/"

# Google Cloud
#
# The next line updates PATH for the Google Cloud SDK.
if [ -f '$HOME/google-cloud-sdk/path.zsh.inc' ]; then . '$HOME/google-cloud-sdk/path.zsh.inc'; fi

# The next line enables shell command completion for gcloud.
if [ -f '$HOME/google-cloud-sdk/completion.zsh.inc' ]; then . '$HOME/google-cloud-sdk/completion.zsh.inc'; fi


# ---------------------------
# PROJECT PATHS FOR THE LAZY AARON
export GHPATH=$REPOPATH/src/github.com
export AGPATH=$REPOPATH/src/github.com/aarongreenlee
export OPATH=$REPOPATH/src/github.com/outcome-dev/outcome-properties
export PWPATH=$REPOPATH/src/github.com/post-media/post-web

if [ -d "/opt/homebrew/opt/ruby/bin" ]; then
  # export PATH=/opt/homebrew/opt/ruby/bin:$PATH
  export PATH=`gem environment gemdir`/bin:$PATH
fi
